input
{
	float: left;
	clear: both;
	margin-bottom: 10px;
}

#deck1
{
	width: 99%;
	min-height: 115px;
	margin: 10px auto;
	background:dodgerblue;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	float: left;
	clear: both;
}

@keyframes glow {
	from {
		box-shadow: 0 0 10px -10px #aef4af;
	}
	to {
		box-shadow: 0 0 10px 10px #aef4af;
	}
}

#deck2
{
	width: 33%;
	min-height: 225px;
	margin: 10px auto;
	background:#3F9E5F;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	float: right;
}

#deck3
{
	width: 99%;
	min-height: 115px;
	margin: 10px auto;
	background:#E04A5D;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	float: left;
	clear: both;
}

#deck4
{
	width: 33%;
	min-height: 225px;
	margin: 10px auto;
	background:#F6C954;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
	float: left;
}

.card_diamonds
{
	background-image: url('card.png');
	background-position-y: 120px;
	color: #F6C954;
	padding-top: 10px;
	margin-left: -5px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	height: 100px;
	width: 90px;
	font-size: 18px;
	font-family: sans-serif;
}

.card_spades
{
	background-image: url('card.png');
	background-position-y: 20px;
	color: #3F9E5F;
	padding-top: 10px;
	margin-left: -5px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	height: 100px;
	width: 90px;
	font-size: 18px;
	font-family: sans-serif;
}

.card_hearts
{
	background-image: url('card.png');
	background-position-y: 20px;
	background-position-x: 90px;
	color: #E04A5D;
	padding-top: 10px;
	margin-left: -5px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	height: 100px;
	width: 90px;
	font-size: 18px;
	font-family: sans-serif;
}

.card_clubs
{
	background-image: url('card.png');
	background-position-x:90px;
	background-position-y:120px;
	color: #3091FE;
	padding-top: 10px;
	margin-left: -5px;
	border: solid 1px #808080;
	background-color: white;
	display: inline-block;
	border-radius: 5px;
	height: 100px;
	width: 90px;
	font-size: 18px;
	font-family: sans-serif;
}